:root {
  --main: #FFBF00;
}

@font-face {
  font-family: fbf;
  src: "5by5.ttf"
}

html {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2 {
  color: var(--main);
  text-decoration: underline;
  font-weight: bold;
  font-style: oblique;
}

#pokemon-container {
  text-align: center;
  color: var(--main)
}

#pokemon-container img {
  width: 200px;
  height: 200px;
}

#randomPokemonContainer {
    width: 300px;
    height: 400px;
    background-color: brown;
    text-align: center;
    background-image: url("purplehex.png");
    color: var(--main);
    text-align: center;
}

.pokemon-name {
    font-weight: bold;
    font-size: 20px;
    color: var(--main);
}

.pokemon-image {
    border: 2px magenta dotted;
    background-image: url("random-pokemon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
